[Desktop Entry]
Name=ArrangeWindows
Comment=Adds a shortcut to move windows to where I like them
Icon=preferences-system-windows-script-test

Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-PluginInfo-Author=Peter J. Jones
X-KDE-PluginInfo-Email=pjones@devalot.com
X-KDE-PluginInfo-Name=windowpos
X-KDE-PluginInfo-Version=1.0

X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
X-KDE-PluginKeyword=arrangewindows
