# -*- sh -*-

# Bug in libvirtd somehow makes NixOps copy large virtual machines
# into /run which is only 3GB:
export TMP=/tmp
export TMPDIR=$TMP

# Use nixpkgs from nix/sources.json:
if type jq &>/dev/null; then
  nixpkgs=$(jq --raw-output .nixpkgs.url nix/sources.json)
  export NIX_PATH=nixpkgs="$nixpkgs"
fi

# Ensure my overlays are active:
export NIX_PATH=nixpkgs-overlays=$(pwd)/overlays:$NIX_PATH

use nix
