# -*- sh -*-

# Bug in libvirtd somehow makes NixOps copy large virtual machines
# into /run which is only 3GB:
export TMP=/tmp
export TMPDIR=$TMP

if has jq; then
  nixpkgs=$(jq --raw-output .nixpkgs.url nix/sources.json)
  NIX_PATH=nixpkgs="$nixpkgs"
else
  NIX_PATH=nixpkgs=$(pwd)/pkgs
fi

export NIX_PATH
use nix
